//
//  SigningSettings.xcconfig
//  IRLSizeExample
//
//  Created by Jeff Kelley on 11/6/18.
//  Copyright © 2018 Detroit Labs. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// To add signing settings, create a new file in the Example/ directory with the
// name "DevelopmentTeam.xcconfig" and the following contents:
//
// DEVELOPMENT_TEAM = <TEAM ID HERE>
#include? "DevelopmentTeam.xcconfig"
